$main-color: #2f2f2f;

.acme-malarkey {
  text-transform: capitalize;
  color: $main-color;

  &:after {
    animation: cursor-blink 0.4s linear infinite;
    content: "|";
    color: $main-color;
  }
}

.md-input-focused{
  .acme-malarkey{
    display: none;

    &:parent{
      transition: none;
    }
  }

}

@keyframes cursor-blink {
  1% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
